<div ng-init="Init();">
    <div class=jumbotron>
        <div class=container>
            <div class="row">   
                <div class="col-sm-4"> <h3>Panel de Cliente</h3> </div>
            </div>
            <hr>
            
            <div class="row">   
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.tipo">
                        <option value="1">Número de Cuenta</option>
                        <option value="2">Número de Tarjeta</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <input type="number" class="form-control" ng-model="busqueda.numero">
                </div>

                <div class="col-sm-4">
                    <button class="btn btn-default" ng-click="buscarCuenta();">Buscar</button>
                </div>
            </div>

            <div class="row">   
                <hr>
                <table class="table">
                    <tr>
                        <th>Cuenta</th>
                        <th>Nombre</th>
                        <th>RFC</th>
                        <th>Email</th>
                        <th>Celular</th>
                    </tr>
                    <tr>
                        <td>{{ Resultado.idCuenta }}</td>
                        <td>{{ Resultado.cli_nombre }} {{ Resultado.cli_apellidos }}</td>
                        <td>{{ Resultado.cli_rfc }}</td>
                        <td>{{ Resultado.cli_email }}</td>
                        <td>{{ Resultado.cli_celular }}</td>
                    </tr>                    
                </table>
            </div>

            <div class="row">  
                <br><br><br><br><br> 
                <div class="col-sm-4">
                    
                </div>

                <div class="col-sm-4">
                    <input type="number" ng-model="monto" class="form-control" style="font-size: 30px; height: 50px; text-align: right;">
                </div>

                <div class="col-sm-4">
                    <button class="btn btn-success" ng-click="depositar();">DEPOSITAR</button>
                </div>
            </div>

        </div>
    </div>
</div>