<div ng-init="Init();">
    <div class=jumbotron>
        <div class=container>
            <div class="row">   
                <div class="col-sm-4"> <h3>Tarjeta Habientes</h3> </div>
                <div class="col-sm-8">
                    <div class="pull-right"> 
                        <a ui-sref=nuevo_cliente class="pull-right btn btn-primary btn-outline btn-rounded"><span class="glyphicon glyphicon-plus"></span> Nuevo Cliente</a>
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="row">
                <div class="col-sm-12">
                    <table id="example" class="table table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>Número de Cliente</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>RFC</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                                <th>Celular</th>
                                <th>Fecha Registro</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr ng-repeat="(key, cliente) in Clientes">
                                <td>
                                    <a href="#/admin/cliente_detalle?noCliente={{cliente.noCliente}}" >{{ cliente.noCliente }}</a>
                                </td>
                                <td ng-bind-html="cliente.cli_nombre"></td>
                                <td ng-bind-html="cliente.cli_apellidos"></td>
                                <td>{{ cliente.cli_rfc }}</td>
                                <td>{{ cliente.cli_email }}</td>
                                <td>{{ cliente.cli_telefono }}</td>
                                <td>{{ cliente.cli_celular }}</td>
                                <td>{{ cliente.timestamp }}</td>
                                <td><span class="label label-success">{{ cliente.Estatus }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p> -->
        </div>
    </div>
</div>