<div class="nuevo-agente" ng-init="InitDetalle();">
    <div class=jumbotron>
        <div class=container>
            <div class="row"> 
                <div class="col-sm-12">
                    <h3>{{ Detalle.cli_nombre }} {{ Detalle.cli_apellidos }}</h3>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-4">
                    <h4>Información</h4>
                    <table class="table">
                        <tr>
                            <th width="40%">Número de Cliente</th>
                            <td>{{ Detalle.noCliente }}</td>
                        </tr>
                        <tr>
                            <th>RFC</th>
                            <td>{{ Detalle.cli_rfc }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ Detalle.cli_email }}</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>{{ Detalle.cli_telefono }}</td>
                        </tr>
                        <tr>
                            <th>Celular</th>
                            <td>{{ Detalle.cli_celular }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de registro</th>
                            <td>{{ Detalle.timestamp }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-7">
                    <h4>Cuentas</h4>
                    <table class="table">
                        <tr>
                            <th>Número de Cuenta</th>
                            <th>Número de tarjeta</th>
                            <th>Saldo</th>
                        </tr>
                        <tr ng-repeat="(key, cuenta) in Cuentas">
                            <td>{{cuenta.idCuenta}}</td>
                            <td>{{cuenta.noTarjeta}}</td>
                            <td>{{cuenta.Saldo | currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <br><br><br>
            <div class="row"> 
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a ui-sref=clientes class="btn btn-default"> <i class="fa fa-ban"></i> Regresar </a>

                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-plus-circle"></i> Tramitar tarjeta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tramitar Tarjeta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <small>Tipo de Cuenta</small><br>
                        <select class="form-input" ng-model="idTipoCuenta">
                            <option ng-repeat="tipo in tipoCuenta" value="{{ tipo.idTipoCuenta }}">{{ tipo.tcu_tipo }}</option>
                        </select>
                    </div>

                    <div class="col-sm-4">
                        <small>Tipo Tarjeta</small><br>
                        <select class="form-input" ng-model="idTipoTarjeta">
                            <option ng-repeat="tipo in tipoTarjeta" value="{{ tipo.idTipoTarjeta }}">{{ tipo.ttar_tipo }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" ng-click="guardarTarjeta();">Guardar Tarjeta</button>
            </div>
        </div>
    </div>
</div>