<div class="nuevo-agente" ng-init="InitNuevo();">
    <div class=jumbotron>
        <div class=container>
            <div class="row"> 
                <div class="col-sm-12">
                    <h3>Nuevo Tarjetahabiente</h3>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h4>Datos del tarjetahabiente</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <small>Nombre</small><br>
                            <input type="text" class="form-input razon_social" placeholder="" ng-model="TarjetaHabiente.cli_nombre">
                        </div>

                        <div class="col-sm-6">
                            <small>Apellidos</small><br>
                            <input type="text" class="form-input razon_social" placeholder="" ng-model="TarjetaHabiente.cli_apellidos">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small>RFC</small><br>
                            <input type="text" class="form-input razon_social" placeholder="" ng-model="TarjetaHabiente.cli_rfc">
                        </div>

                        <div class="col-sm-6">
                            <small>Email</small><br>
                            <input type="text" class="form-input razon_social" placeholder="" ng-model="TarjetaHabiente.cli_email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <small>Teléfono de casa</small><br>
                            <input type="text" class="form-input razon_social" placeholder="" ng-model="TarjetaHabiente.cli_telefono">
                        </div>

                        <div class="col-sm-6">
                            <small>Teléfono Celular</small><br>
                            <input type="text" class="form-input razon_social" placeholder="" ng-model="TarjetaHabiente.cli_celular">
                        </div>
                    </div> <br>


                    <h4>Datos de la cuenta</h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <small>Tipo de Cuenta</small><br>
                            <select class="form-input" ng-model="TarjetaHabiente.idTipoCuenta">
                                <option value="">- Selecione Tipo -</option>
                                <option ng-repeat="tipo in tipoCuenta" value="{{ tipo.idTipoCuenta }}">{{ tipo.tcu_tipo }}</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <small>Tipo Tarjeta</small><br>
                            <select class="form-input" ng-model="TarjetaHabiente.idTipoTarjeta">
                                <option value="">- Selecione Tipo -</option>
                                <option ng-repeat="tipo in tipoTarjeta" value="{{ tipo.idTipoTarjeta }}">{{ tipo.ttar_tipo }}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row"> 
                <div class="col-sm-9">
                    <br><br><br>
                    <div class="pull-right">
                        <a ui-sref=clientes class="btn btn-default"> <i class="fa fa-ban"></i> Cancelar </a>

                        <button type="button" class="btn btn-default" ng-click="SaveCliente()">
                            <i class="fa fa-plus-circle"></i> Guardar cuentahabiente
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>